.wrapper{
display:grid;
grid-template-columns: minmax(0px, 1fr) repeat(6, minmax(0,175px)) minmax(0px, 1fr);
}

header{
grid-column: 2 / 8;
background: rgba(255,120,120,0.5);
height:120px;
}

nav{
grid-column: 2 / 8;
background: rgba(120,200,255,0.5);
height:80px;
}

main{
grid-column: 2 / 8;
background: rgba(180,255,180,0.5);
height:400px;
}

footer{
grid-column: 2 / 8;
background: rgba(255,200,120,0.5);
height:80px;
}